{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'analytics/dashboard.css' %}"></link>
	</head>
	<body>
		<h1 class="header">{{ title }}</h1>
		<div class="container">
			<div class="filter">
				<div class="dropdown-container">
					<label class="dropdown-label">Complaint Type</label>
					<select class="dropdown">
						<option class="dropdown-option">Misappropriations</option>
						<option class="dropdown-option">Irregularities</option>
					</select>
				</div>
				<div class="dropdown-container">
					<label class="dropdown-label">Year</label>
					<select class="dropdown">
						<option class="dropdown-option">2013</option>
						<option class="dropdown-option">2014</option>
						<option class="dropdown-option">2015</option>
						<option class="dropdown-option">2016</option>
					</select>
				</div>
			</div>
			<div class="chart-container">
				<canvas id="chart"></canvas>
			</div>	
		</div>
	</body>
	<script>
	var labels = "{{labels}}".replace(/&#x27;/g,'"').replace(/&amp; /g,'&')
	console.log(labels);
	labels = JSON.parse(labels)
	let data = JSON.parse("{{data}}")
	console.log(labels,data);
	var ctx = document.getElementById('chart').getContext('2d');
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: labels,
	        datasets: [{
	            label: "{{label}}",
	            data: data,
	            backgroundColor:'rgba(225,110,90,0.5)',
	            borderColor: 'rgba(255, 90, 70, 0.8)',
	            borderWidth: 1
	        }]
	    },
	    options: {
	    	responsive:false
	    }
	});
	</script>
</html>